@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');

:root {
    --faint: #eeeeee;
    --white: #ffffff;
    --shadow: #cccccc;
    --theme-bg: #f5f5f5;
    --theme-text: #555555;
    --theme-light: #888888;
    --fixed-container-bg: rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--theme-bg);
    font-family: "Nunito Sans", sans-serif;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}
