body .contain {
    max-width: 95%;
    margin: 0 auto;
}

body > section {
    margin: 40px 0;
}

li {
    list-style-type: none;
    cursor: pointer;
}


@media screen and (min-width: 850px) {
    body .contain {
        max-width: 88%;
    }
}

@media screen and (min-width: 1400px) {
    body .contain {
        max-width: 1250px;
    }
}
