
header {
    background: var(--white);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    display: block;
    text-decoration: none;
    color: var(--theme-text);
    font-size: 1.15em;
    transition: background-color 0.2s ease-in;
}

nav a:not(.brand-logo) {
    padding: 30px 10px;
}

nav a:hover {
    color: #222222;
    background: var(--faint);
}

.hide-on-smaller-screens {
    display: none;
}

.brand-logo {
    display: block;
    width: 180px;
    padding: 6px 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* ====================
set all lists to display 
none on page load. To be
changed with javascript
in index.js and auth.js
later on depending on if 
user is logged in or out 
=====================*/
.logged-in,
.logged-out,
.admin {
    display: none;
}

@media screen and (min-width: 550px) {
    .brand-logo {
        width: 200px;
        padding: 15px 0;
    }
}