
.collapsible-container {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.collapsible-container li {
    background: var(--white);
    color: var(--theme-text);
    margin: 0 0 2px 0;
    box-shadow: 1px 1px 3px var(--shadow);
}

.collapsible-container li > * {
    padding: 10px;
}

.collapsible-header {
    font-size: 1.15em;
    width: 100%;
    text-align: left;
    color: var(--theme-text);
    background: transparent;
    outline-color: var(--theme-light);
}

.collapsible-body {
    font-size: 1em;
    border: 1px solid transparent;
    border-top: 1px solid #eeeeee;
}