.nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    background: var(--fixed-container-bg);
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.menu-container {
    display: flex;
    flex-direction: column;
    background: var(--white);
    height: inherit;
    max-width: 250px;
    margin: 0 0 0 auto;
}

@media screen and (min-width: 450px) {
    .menu-container {
        max-width: 280px;
    }
}

@media screen and (min-width: 850px) {
    .nav {
        position: static;
        right: unset;
        top: unset;
        z-index: inherit;
        background: transparent;
        width: unset;
        height: unset;
    }

    .menu-container {
        flex-direction: row;
        background: transparent;
        max-width: unset;
    }
}