
.admin-actions form {
    margin: 0 auto;
    max-width: 300px;
}

.admin-actions form > * {
    display: block;
}

.admin-actions form input {
    background: var(--theme-bg); /* transparent won't hide label */
    padding-bottom: 10px;
    padding-top: 10px;
}

.admin-actions form .btn {
    margin: 0 auto;
}

/* ====================
set admin list to display 
none on page load. To be
changed with javascript
in index.js and auth.js
later on depending on if 
user is logged in or out 
=====================*/
.admin {
    display: none;
}

/*=======================
div with this class can be 
found in setupUI function
in index.js file
========================*/
.admin-badge {
    color: white;
    background: black;
    width: max-content;
    padding: 3px 10px;
    border-radius: 10px;
}
