
/* ====================
set all lists to display 
none on page load. To be
changed with javascript
in index.js and auth.js
later on depending on if 
user is logged in or out 
=====================*/
.logged-in,
.logged-out,
.logged-in-out {
    display: none;
}


/* //for guideList in js
.not-loggedIn {
    text-align: center;
    font-size: 1.8em;
    color: var(--theme-text);
}
*/