
header {
    background: var(--white);
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    display: block;
    text-decoration: none;
    color: var(--theme-text);
    font-size: 1.15em;
}

header a:not(.brand-logo) {
    padding: 30px 10px;
}

header .btn {
    margin: 0;
}

.brand-logo {
    display: block;
    width: 180px;
    padding: 6px 0;
}

.brand-logo,
header nav li,
header nav a {
    transition: background-color 0.2s ease-in;
}

.brand-logo:hover,
.brand-logo:focus,
header nav a:focus,
header nav li:hover {
    color: #222222;
    background: var(--faint);
}

.brand-logo:focus,
header nav a:focus {
    outline: none;
}

.hide-on-smaller-screens {
    display: flex; /**/
   
}

.hide-on-larger-screens {
    display: block;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    background: var(--fixed-container-bg);
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.menu-container {
    flex-direction: column;
    background: var(--white);
    height: inherit;
    max-width: 250px;
    margin: 0 0 0 auto;
}

@media screen and (min-width: 450px) {
    .menu-container {
        max-width: 280px;
    }
}

@media screen and (min-width: 550px) {
    .brand-logo {
        width: 200px;
        padding: 15px 0;
    }
}

@media screen and (min-width: 850px) {
    .hide-on-smaller-screens {
        display: flex;
    }

    .hide-on-larger-screens {
        display: none;
    }

    nav {
        position: static;
        right: unset;
        top: unset;
        z-index: inherit;
        background: transparent;
        width: unset;
        height: unset;
    }

    .menu-container {
        flex-direction: row;
        background: transparent;
        max-width: unset;
    }
}