
header {
    background: var(--white);
}

.brand-logo {
    display: block;
    width: 180px;

    padding: 6px 0;
    margin: 1px 0;
    border: 1px solid transparent;
    border-radius: 2px;
}

.brand-logo {
    transition: background-color 0.2s ease-in;
}

.brand-logo:hover,
.brand-logo:focus {
    color: #222222;
    background: var(--faint);
    outline: none;
    border: 1px solid var(--theme-light);
}

@media screen and (min-width: 550px) {
    .brand-logo {
        width: 200px;
        padding: 15px 0;
    }
}