.input-field {
    position: relative;
    margin:  0 0 10px 0;
}

input,
textarea {
    width: 100%;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--theme-light);
    padding: 5px;
    font-size: 1em;
    color: var(--theme-text);
    transition: border 0.1s linear;
}

input:focus,
textarea:focus {
    border: 1px solid var(--theme-light);
    box-shadow: 1px 1px 10px var(--shadow);
    border-radius: 3px;
    outline: none;
}

textarea {
    font-family: "Nunito Sans", sans-serif;
}

label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: var(--theme-light);
    cursor: text;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label {
  z-index: -1;
  /* https://dev.to/piguicorn/labels-as-placeholders-labels-as-placeholders-10ei */
}
